/* 1. ჩარევა: სათაურების ზომის შეცვლა */
h2, h3 {
    color: #333333;
    font-weight: 500;
}

/* 2. ჩარევა: ქარდებს შორის დაშორების (padding) დამატება */
.card-body {
    padding: 30px !important;
}

/* 3. ჩარევა: ფუტერის ტექსტის ოდნავ დაპატარავება */
footer p {
    font-size: 14px;
}